$title-font: 'Inconsolata', monospace
$copy-font: 'Merriweather', serif

$black: #333333
$off-white: #FFFFFF
$dark: #1C3645
$light: #798A94
$color-shock: #FB4237

@mixin spacer-s($height,$background-color)
    height: $height
    background-color: $background-color


body 
    background-color: $off-white


.navbar 
    font-family: $title-font
    font-size: 18px
    font-weight: bold
    

.circle 
	width: 18px
	height: 18px
    text-align: right
	background: $black
	-moz-border-radius: 50px
	-webkit-border-radius: 50px
	border-radius: 50px

	
    
.circle:hover 
  background-color: $light
  cursor: pointer



.circle-align
  display: flex
  justify-content: space-between
  padding-top: 10px

.main-image img
    max-width: 100%
    overflow: hidden
    background-size: contain

.spacer
    @include spacer-s(25px,$off-white)

.spacer-black
    @include spacer-s(25px,$black)

.social-icon-align
    display: flex
    justify-content: flex-end
    padding-right: 10px
    padding-top: 10px
		 

.social-icon-square img
    width: 30px
    height: 30px

.social-icon-rectangle img
		height: 30px

.logo-align
    padding-top: 10px

.logo-align img
    height: 70px

.thumbnail-gallery-align
    display: flex
    justify-content: space-around
		

.thumbnail-gallery-align img:hover
  background-color: $light
  cursor: pointer

hr 
	border-width: 2px
	border-color: $light

.footer
	font-family: $title-font
	color: $light
	font-weight: 400

.biopic img
    height: 300px

.footer-headline
    font-family: $copy-font
    font-weight: 900
    font-size: 25px
    color: $black

    
